[Unit]
Description=AoIP Soundcard Module Loader
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/modprobe snd-soc-aoip-soundcard

[Install]
WantedBy=multi-user.target
