[Unit]
Description=PTP Clock (AES67)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=LD_PRELOAD=/usr/local/lib/ptp_mcast_loop.so
ExecStart=/usr/sbin/ptp4l \
  -f /etc/linuxptp/ptp4l.conf \
  -i eth0 -H -m -q \
  --ptp_minor_version 0
Restart=on-failure
RestartSec=3
User=root
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=80
CPUAffinity=1
OOMScoreAdjust=-900
LimitRTPRIO=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
